body {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    border: 6px double black;
    background-color: blue;
    padding: 10px 20px;
    color: white;
    font-size: 40px;

}